@import "~materialize-css/dist/css/materialize.min.css";

.action button:not(:last-child){
    margin-right: 10px;
}
input.yellow-input{
    border-bottom: 1px solid #fff!important;
    box-shadow: 0 1px 0 0 #fff!important;
}
input.yellow-input + label {
    color: #fff!important;
}
.nav-wrapper{
  padding: 0 2rem;
}
.create-wrapper{
    padding-top: 2rem;
}
.preloader-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}